<a ng-href="/panel/car/{{carId}}" class="side-tab back">Car<i class="fa fa-arrow-circle-left fa-2x"></i></a>
<h3 ng-click="edit()" class=" side-tab card-edit">Edit<i class="fa fa-pencil fa-2x"></i></h3>
<div class="bg">
<div class="container">
	<table class="card">
		<thead>
			<tr>
				<th class="lft-al">
				</th>
				<th class="sec">
					Front
				</th>
				<th>
					Rear
				</th>
			</tr>
			<tr>
				<th class="lft-al"></th>
				<th class="sec">L | R</th>
				<th>L | R</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-show="card.data.toe">
				<td class="lft-al ctg-1"><i class="fa fa-chevron-circle-right"></i>Toe</td>
				<td class="sec">{{card.data.toe.front}}</td>
				<td>{{card.data.toe.rear}}</td>
			</tr>
			<tr ng-show="card.data.camber">
				<td class="lft-al ctg-1"><i class="fa fa-chevron-circle-right"></i>Camber</td>
				<td class="sec">{{card.data.camber.frontLeft}} | {{card.data.camber.frontRight}}</td>
				<td>{{card.data.camber.rearLeft}} | {{card.data.camber.rearRight}}</td>
			</tr>
			<tr ng-show="card.data.caster">
				<td class="lft-al ctg-1"><i class="fa fa-chevron-circle-right"></i>Caster</td>
				<td class="sec">{{card.data.caster.left}}</td>
				<td>{{card.data.caster.right}}</td>
			</tr>
			<tr ng-show="card.data.spring">
				<td class="lft-al ctg-1"><i class="fa fa-chevron-circle-down"></i>Springs</td>
				<td class="sec"></td>
				<td></td>
			</tr>
			<tr ng-show="card.data.spring.length">
				<td class="lft-al ctg-2"><i class="fa fa-chevron-circle-right"></i>Length</td>
				<td class="sec">{{card.data.spring.length.frontLeft}} | {{card.data.spring.length.frontRight}}</td>
				<td>{{card.data.spring.length.rearLeft}} | {{card.data.spring.length.rearRight}}</td>
			</tr>
			<tr ng-show="card.data.spring.rate">
				<td class="lft-al ctg-2"><i class="fa fa-chevron-circle-right"></i>Rate</td>
				<td class="sec">{{card.data.spring.rate.frontLeft}} | {{card.data.spring.rate.frontRight}}</td>
				<td>{{card.data.spring.rate.rearLeft}} | {{card.data.spring.rate.rearRight}}</td>
			</tr>
			<tr ng-show="card.data.swaybar">
				<td class="lft-al ctg-1"><i class="fa fa-chevron-circle-right"></i>Swaybars</td>
				<td class="sec">{{card.data.swaybar.front}}</td>
				<td>{{card.data.swaybar.rear}}</td>
			</tr>
			<tr ng-show="card.data.shock">
				<td class="lft-al ctg-1"><i class="fa fa-chevron-circle-down"></i>Shocks</td>
				<td class="sec"></td>
				<td></td>
			</tr>
			<tr ng-show="card.data.shock.oneWay">
				<td class="lft-al ctg-2"><i class="fa fa-chevron-circle-right"></i>Setting</td>
				<td class="sec">{{card.data.shock.oneWay.frontLeft}} | {{card.data.shock.oneWay.frontRight}}</td>
				<td>{{card.data.shock.oneWay.rearLeft}} | {{card.data.shock.oneWay.rearRight}}</td>
			</tr>
			<tr ng-show="card.data.shock.fourWay.compression">
				<td class="lft-al ctg-2"><i class="fa fa-chevron-circle-down"></i>Compression</td>
				<td class="sec"></td>
				<td></td>
			</tr>
			<tr ng-show="card.data.shock.fourWay.compression.highSpeed">
				<td class="lft-al ctg-3"><i class="fa fa-chevron-circle-right"></i>High Speed</td>
				<td class="sec">{{card.data.shock.fourWay.compression.highSpeed.frontLeft}} | {{card.data.shock.fourWay.compression.highSpeed.frontRight}}</td>
				<td>{{card.data.shock.fourWay.compression.highSpeed.rearLeft}} | {{card.data.shock.fourWay.compression.highSpeed.rearRight}}</td>
			</tr>
			<tr ng-show="card.data.shock.fourWay.compression.lowSpeed">
				<td class="lft-al ctg-3"><i class="fa fa-chevron-circle-right"></i>Low Speed</td>
				<td class="sec">{{card.data.shock.fourWay.compression.lowSpeed.frontLeft}} | {{card.data.shock.fourWay.compression.lowSpeed.frontRight}}</td>
				<td>{{card.data.shock.fourWay.compression.lowSpeed.rearLeft}} | {{card.data.shock.fourWay.compression.lowSpeed.rearRight}}</td>
			</tr>
			<tr ng-show="card.data.shock.fourWay.rebound">
				<td class="lft-al ctg-2"><i class="fa fa-chevron-circle-down"></i>Rebound</td>
				<td class="sec"></td>
				<td></td>
			</tr>
			<tr ng-show="card.data.shock.fourWay.rebound.highSpeed">
				<td class="lft-al ctg-3"><i class="fa fa-chevron-circle-right"></i>High Speed</td>
				<td class="sec">{{card.data.shock.fourWay.rebound.highSpeed.frontLeft}} | {{card.data.shock.fourWay.rebound.highSpeed.frontRight}}</td>
				<td>{{card.data.shock.fourWay.rebound.highSpeed.rearLeft}} | {{card.data.shock.fourWay.rebound.highSpeed.rearRight}}</td>
			</tr>
			<tr ng-show="card.data.shock.fourWay.rebound.lowSpeed">
				<td class="lft-al ctg-3"><i class="fa fa-chevron-circle-right"></i>Low Speed</td>
				<td class="sec">{{card.data.shock.fourWay.rebound.lowSpeed.frontLeft}} | {{card.data.shock.fourWay.rebound.lowSpeed.frontRight}}</td>
				<td>{{card.data.shock.fourWay.rebound.lowSpeed.rearLeft}} | {{card.data.shock.fourWay.rebound.lowSpeed.rearRight}}</td>
			</tr>
			<tr ng-show="card.data.cornerWeight">
				<td class="lft-al ctg-1"><i class="fa fa-chevron-circle-right"></i>Corner Weights</td>
				<td class="sec">{{card.data.cornerWeight.frontLeft}} | {{card.data.cornerWeight.frontRight}}</td>
				<td>{{card.data.cornerWeight.rearLeft}} | {{card.data.cornerWeight.rearLeft}}</td>
			</tr>
			<tr ng-show="card.data.cornerWeight">
				<td class="lft-al ctg-1"><i class="fa fa-chevron-circle-right"></i>Sway Bars</td>
				<td class="sec">{{card.data.swayBar.front}}</td>
				<td>{{card.data.swayBar.rear}}</td>
			</tr>
			<tr ng-show="card.data.tire">
				<td class="lft-al ctg-1"><i class="fa fa-chevron-circle-down"></i>Tires</td>
				<td class="sec"></td>
				<td></td>
			</tr>
			<tr ng-show="card.data.tire.coldPressure">
				<td class="lft-al ctg-2"><i class="fa fa-chevron-circle-right"></i>Cold Pressures</td>
				<td class="sec">{{card.data.tire.coldPressure.frontLeft}} | {{card.data.tire.coldPressure.frontRight}}</td>
				<td>{{card.data.tire.coldPressure.rearLeft}} | {{card.data.tire.coldPressure.rearRight}}</td>
			</tr>
			<tr ng-show="card.data.tire.hotPressure">
				<td class="lft-al ctg-2"><i class="fa fa-chevron-circle-right"></i>Hot Pressures</td>
				<td class="sec">{{card.data.tire.hotPressure.frontLeft}} | {{card.data.tire.hotPressure.frontRight}}</td>
				<td>{{card.data.tire.hotPressure.rearLeft}} | {{card.data.tire.hotPressure.rearRight}}</td>
			</tr>
		</tbody>
	</table>
</div>
</div>