<div id="top-nav">
	<div id="top-nav-left">
		<a ng-href="/panel/cars" class="logo"><img src="assets/img/tire-logo.png"><div>Track Setup</div></a>
	</div>
	<div id="top-nav-right">
	  <a href="" ng-click="userMenuVisible($event)" menu><i class="fa fa-bars fa-lg"></i></a>
	  <ul id="top-user-menu" ng-show="clicked">
	    <li><a ng-href="/panel/settings"><i class="fa fa-cog"></i>Settings</a></li>
	    <li><a ng-href="" ng-click="logOut()"><i class="fa fa-power-off"></i>Logout</a></li>
	  </ul>
	</div>
</div>
<div id="content" ui-view>

</div>