<div id="top-nav">
	<div id="top-nav-left">
		<a href="/panel/cars" class="logo"><img src="assets/img/tire-logo.png"><div>Track Setup</div></a>
	</div>
	<div id="top-nav-right" menu>
	  <a href="" ng-click="userMenuVisible()"><i class="fa fa-user fa-lg"></i></a>
	  <ul id="top-user-menu">
	    <li><a href=""><i class="fa fa-cog"></i>Settings</a></li>
	    <li><a href="" ng-click="logOut()"><i class="fa fa-power-off"></i>Logout</a></li>
	  </ul>
	</div>
</div>
<div id="content" ui-view>

</div>
<div id="background">
</div>