<div class="settings title">
	<h1><i class="fa fa-cog"></i>Settings</h1>
</div>
<div class="container cards notes">
	<div id="settings">
		<div>
			<label>Email</label>
			<input type="text">
			<button class="button">Update</button>
		</div>
		<div>
			<label>Change Password</label>
			<input type="password">
			<label>Confirm Password</label>
			<input type="password">
			<button class="button">Update</button>
		</div>
		<div class="delete">
			<label>Delete Account</label>
			<p>
				This action is irreversible.
			</p>
			<input id="delete" type="checkbox"><label for="delete" class="delete">Yes, I want to delete my account.</label>
			<button class="button">Delete</button>
		</div>
	</div>
</div>